ProjectFiles/Objects/*
ProjectFiles/Listings/*
ProjectFiles/EventRecorderStub.scvd
# ProjectFiles/my_project.mil 
# ProjectFiles/.project
ProjectFiles/Blank.uvguix.PC_88
# ProjectFiles/Blank.uvprojx 
ProjectFiles/.vscode
ProjectFiles/Tests/*
# GNU_radio/__pycache__/*
# GNU_radio/qpsk/*
*.o
*.i
ProjectFiles/Blank.uvoptx
# .gitignore
.vscode/settings.json
ProjectFiles/Blank.uvguix.Timofei
GNU_radio/*
!GNU_radio/python_blocks/
!GNU_radio/examples/
GNU_radio/examples/*
!GNU_radio/examples/*.grc
